* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header Navigation */
nav {
  min-height: 100px;
  display: flex;
  position: absolute;
  padding: 0 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
}

.nav-right {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
}

nav a {
  font-size:  1rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  padding: 20px;
}

nav a:hover {
  color: #d3d3d3;
}

nav ul {
  list-style: none;
  margin: 0;  /* Remove default margin..thought this would apply already from beginning but it did not */
  padding: 0;  /* Remove default padding */
}

.nav-left{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-sizing: border-box; 
}

.nav-icon{
  font-size:2rem;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* MAIN */

main {
  width: 100%;
  max-width: 12000px;
}

/*Home Page*/
.hero {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space btwn title and about*/
  padding: 150px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* idk why yet but i need the width and height defined here.... */
  height: 100vh;
  opacity: 0.5;
  z-index: 1;

  /*parallax stuff*/
  background-image: url('../docs/home-background.jpg');
  background-attachment: fixed; /* this causes that parallax scrolling feature*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}


.hero-content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between; /* Space between .hero-text and .about-box */
  z-index: 2;
}

.hero-text {
  max-width: 50%;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
}

.hero h2 {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.hero p {
  font-size: 1.2rem;
}

#typed-text {
  color: white;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hide text until it's typed */
  position: relative;

}

.about-box {
  background-color: rgba(137, 129, 129, 0.331);
  color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: flex;
  max-width: 50%;
}

/* Projects/Posts */

.project-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}

.project-tags span {
  margin-right: 5px;
}

.menu-bar {
  position: sticky;
  /*top: 20px;*/
  top: 0;
  border-left: 2px solid #ddd;
  padding-left: 20px;

}

.custom-colour-1 { color: #59a6a2; }

.custom-badge-1{ background-color: #59a6a2; }

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  color: #40403f;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}

/* Icons */
.icon {
  font-size: 40px;
  align-items: center;
  color: #40403f;
  padding: 20px;
}

.icon:hover {
  color: #59a6a2;
  transition: color 0.3s ease;
}

/* MEDIA QUERRIES */

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .hero-bg {
    background-attachment: scroll;
  }
}

@media (max-width: 1050px) {

  .hero{
    padding: 80px 80px;
  }
  .hero-content {
    flex-direction: column; /* Stack .hero-text and .about-box vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Align text in the center */
  }

  .hero-text,
  .about-box {
    max-width: 900px; /* Optional: Set a max width for better readability */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 0.9rem;
  }

  .hero p {
    font-size: 0.9rem;
  }
}


@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-right{
    position: absolute;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction:row;
    background-color: #59a6a2;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 40px;
  }

  .nav-item{
    margin: 5px 0;
  }
  .nav-right.active{
    left: 0;
  }
}